@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf'),
       url('fonts/Poppins-Black.ttf'),
       url('fonts/Poppins-Bold.ttf'),
       url('fonts/Poppins-ExtraBold.ttf'),
       url('fonts/Poppins-ExtraLight.ttf'),
       url('fonts/Poppins-Italic.ttf'),
       url('fonts/Poppins-Light.ttf'),
       url('fonts/Poppins-Medium.ttf'),
       url('fonts/Poppins-SemiBold.ttf'),
       url('fonts/Poppins-Thin.ttf');
}


body {
  background-color: #ECF1E9;
  font-family: 'Poppins', sans-serif;
  color: #295013;
  margin: 0;
  padding: 0;
}

.name-container {
  max-width: 800px; 
}

.header {
  background-color: #ECF1E9; 
  color: #295013; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.profile-pic {
  width: 20%;
  height: 65%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 20px;
}

.intro {
  text-align: left;
  max-width: 75ch;
  margin-top: 100px;
}

.bold-text {
  font-size: 36px;
  font-weight: 900;
}

.intro-text {
  font-size: 28px;
}

h1 {
  font-size: 26px; 
  font-weight: bold; 
  text-align: center;
  padding-top: 100px;
}

.header h3 {
  display: inline-block; 
  margin-left: 40px; 
  position: relative;
}

.header h3:hover {
  text-decoration: underline;
}

.scroll-arrow {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #295013; 
  cursor: pointer;
  animation: arrow-bounce 1s infinite alternate; 
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.projects-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.projects-first-row,
.projects-second-row {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}

.project {
  width: 35%; 
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px; 
  border: 2px solid #295013; 
  border-radius: 20px;
}

.project-picture {
  width: 100%; 
  height: auto;
  border-radius: 20px;
}

h2 {
  text-align: center;
}

.project a {
  text-decoration: none;
  color: inherit; 
}

.project h2:hover {
  text-decoration: underline;
  color: purple;
}

.header a {
  text-decoration: none;
  color: inherit; 
}

.name-container a {
  text-decoration: none;
  color: inherit; 
}


html {
  scroll-behavior: smooth;
}